{% extends 'wiki/base.html' %}

{% block head_title %}Change Password{% endblock head_title %}

{% block log_out %}

{% endblock log_out %}

{% block style %}
    .btn{
        width: auto;
        border-radius: 0px;
    }
{% endblock style %}

{% block middle_area %}
    {% for obj in form %}
        {% if obj.errors %}
            <div class="alert alert-info">
                <center>
                    <strong>{{ obj.errors }}</strong>
                </center>
            </div>
        {% endif %}
    {% endfor %}

    <div class="col-sm-6 col-sm-offset-3">
        <center><h2 style="margin-bottom: 30px">Change Password</h2></center>
        <form role="form" class="form-horizontal" action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="row" style="margin-top: 10px">
                    <label class="control-label col-sm-5">{{ field.label }} :</label>
                    <div class="col-sm-7">
                        {{ field }}
                    </div>
                    <div class="row"></div>
                </div>
            {% endfor %}
            <div class="col-sm-offset-6 col-sm-10">
                <button style="margin-top: 10px" type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
{% endblock middle_area %}