{% extends 'wiki/base.html' %}

{% block searchBar %}
    <div class="col-lg-7 col-md-3">
        <form class="navbar-form" role="search">
            {% csrf_token %}
            <div class="input-group" style="width:1000px">
                <input type="text" class="form-control" placeholder="Search" name="search" id="search">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit" formmethod="post">Go</button>
                </div>
            </div>
        </form>
    </div>
{% endblock searchBar %}

{% block middle_area %}
    <h1>Welcome</h1>
    <p>
        The internet is an informal term for the world-wide communication
        network of computers. It sends information quickly between computers
        around the world. It has millions of smaller domestic, academic,
        business, and government networks, which together carry many
        different kinds of information. The World Wide Web is one of its
        biggest services. It is used by a few billion people
        all over the world.
    </p>
    <hr>
    <h3></h3>
    <p></p>
{% endblock middle_area %}


{% block log_out %}
    {% if user.is_authenticated %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user"></span> {{ user }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu-edit dropdown-menu">
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> LOGIN</a></li>
    {% endif %}
{% endblock log_out %}.

{% block right_side %}
    {% if userLevel == 5 %}
        <p><a href="{% url 'selectUser' %}"><button type="button" class="btn btn-success">Select User</button></a></p>
        <p><a href="{% url 'createUser' %}"><button type="button" class="btn btn-success">Create User</button></a></p>
    {% endif %}
{% endblock right_side %}
