{% extends 'wiki/base.html' %}

{% block head_title %}Search Results{% endblock head_title %}

{% block middle_area %}
    <div class="col-sm-10">
            <div class="row">
            {% if empty %}
                <div>
                    <h1>No Posts with <strong style="color:#337ab7">'{{ searchKey }}'</strong> title</h1>
                    <h4>Create a post with <a href="{% url 'createPage' searchKey %}"><strong>'{{ searchKey }}'</strong></a> title</h4>
                </div>
            {% else %}
                <div><h1>Search Results</h1></div>
                {% for obj in post_obj %}
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3><a href="{% url 'viewPage' obj.title %}">{{ obj.title }}</a></h3>
                                <small>{{ obj.timestamp|timesince }} ago</small><br>
                                <br><p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
                                <p><a href="{% url 'viewPage' obj.title %}" class="btn btn-success" role="button">View</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock middle_area %}

{% block right_side %}

{% endblock right_side %}